In [1]:
import pandas as pd
import numpy as np
file=r"C:\Users\DELL\Desktop\ml\data analysis2\weather_dataset_stage1.xlsx"
df=pd.read_excel(file)
df.head()

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Maximum humidity (%,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Date1,Month,diff_pressure
0,2022-01-01,37.8,'35.0','12.7','29.7','26.4','36.8','274.0','0.0','0.0',...,'4.0','27.0','29.762','29.596','41.4','59.0','40.0','2022-01-01','01','0.16600000000000037'
1,2022-01-02','43.2','32.0','14.7','29.5','12.8','18.0','240.0','0.0','0.0',...,'4.0','16.0','29.669','29.268','35.7','51.0','52.0','2022-01-02','01','0.4009999999999998'
2,2022-01-03','25.7','60.0','12.7','29.7','8.3','12.2','290.0','0.0','0.0',...,'8.0','35.0','30.232','29.26','25.3','38.0','41.0','2022-01-03','01','0.9719999999999978'
3,2022-01-04','9.3','67.0','0.1','30.4','2.9','4.5','47.0','0.0','0.0',...,'7.0','35.0','30.566','30.227','12.7','20.0','32.0','2022-01-04','01','0.33899999999999864'
4,2022-01-05','23.5','30.0','-5.3','29.9','16.7','23.1','265.0','0.0','0.0',...,'5.0','13.0','30.233','29.568','38.0','53.0','32.0','2022-01-05','01','0.6649999999999991'

In [2]:
df.isnull().sum()

Date                        0
 Temperature                0
 Average humidity (%        0
 Average dewpoint (°F       0
 Average barometer (in      0
 Average windspeed (mph     0
 Average gustspeed (mph     0
 Average direction (°deg    0
 Rainfall for month (in     0
Rainfall for year (in       0
 Maximum rain per minute    0
 Maximum temperature (°F    0
 Minimum temperature (°F    0
 Maximum humidity (%        0
 Minimum humidity (%        0
 Maximum pressure           0
 Minimum pressure           0
 Maximum windspeed (mph     0
 Maximum gust speed (mph    0
 Maximum heat index (°F     0
Date1                       0
 Month                      0
 diff_pressure              0
dtype: int64

In [3]:
df.columns=df.columns.str.lower()
df.columns

Index(['date', ' temperature', ' average humidity (%', ' average dewpoint (°f',
       ' average barometer (in', ' average windspeed (mph',
       ' average gustspeed (mph', ' average direction (°deg',
       ' rainfall for month (in', 'rainfall for year (in',
       ' maximum rain per minute', ' maximum temperature (°f',
       ' minimum temperature (°f', ' maximum humidity (%',
       ' minimum humidity (%', ' maximum pressure', ' minimum pressure',
       ' maximum windspeed (mph', ' maximum gust speed (mph',
       ' maximum heat index (°f', 'date1', ' month', ' diff_pressure'],
      dtype='object')

In [4]:
df.columns=df.columns.str.strip()
df.columns

Index(['date', 'temperature', 'average humidity (%', 'average dewpoint (°f',
       'average barometer (in', 'average windspeed (mph',
       'average gustspeed (mph', 'average direction (°deg',
       'rainfall for month (in', 'rainfall for year (in',
       'maximum rain per minute', 'maximum temperature (°f',
       'minimum temperature (°f', 'maximum humidity (%', 'minimum humidity (%',
       'maximum pressure', 'minimum pressure', 'maximum windspeed (mph',
       'maximum gust speed (mph', 'maximum heat index (°f', 'date1', 'month',
       'diff_pressure'],
      dtype='object')

In [5]:
df.columns=df.columns.str.replace(' ','_')
df.columns

Index(['date', 'temperature', 'average_humidity_(%', 'average_dewpoint_(°f',
       'average_barometer_(in', 'average_windspeed_(mph',
       'average_gustspeed_(mph', 'average_direction_(°deg',
       'rainfall_for_month_(in', 'rainfall_for_year_(in',
       'maximum_rain_per_minute', 'maximum_temperature_(°f',
       'minimum_temperature_(°f', 'maximum_humidity_(%', 'minimum_humidity_(%',
       'maximum_pressure', 'minimum_pressure', 'maximum_windspeed_(mph',
       'maximum_gust_speed_(mph', 'maximum_heat_index_(°f', 'date1', 'month',
       'diff_pressure'],
      dtype='object')

In [6]:
df.dtypes

date                       object
temperature                object
average_humidity_(%        object
average_dewpoint_(°f       object
average_barometer_(in      object
average_windspeed_(mph     object
average_gustspeed_(mph     object
average_direction_(°deg    object
rainfall_for_month_(in     object
rainfall_for_year_(in      object
maximum_rain_per_minute    object
maximum_temperature_(°f    object
minimum_temperature_(°f    object
maximum_humidity_(%        object
minimum_humidity_(%        object
maximum_pressure           object
minimum_pressure           object
maximum_windspeed_(mph     object
maximum_gust_speed_(mph    object
maximum_heat_index_(°f     object
date1                      object
month                      object
diff_pressure              object
dtype: object

In [7]:
df.describe()

,date,temperature,average_humidity_(%,average_dewpoint_(°f,average_barometer_(in,average_windspeed_(mph,average_gustspeed_(mph,average_direction_(°deg,rainfall_for_month_(in,rainfall_for_year_(in,...,maximum_humidity_(%,minimum_humidity_(%,maximum_pressure,minimum_pressure,maximum_windspeed_(mph,maximum_gust_speed_(mph,maximum_heat_index_(°f,date1,month,diff_pressure
count,3903,3903,3903,3903,3903,3903,3903,3903,3903,3903,...,3903,3903,3903,3903,3903,3903,3903,3903,3903,3903
unique,3902,657,86,638,22,206,332,329,234,799,...,92,89,1047,1062,63,104,626,366,12,1028
top,2033-07-28','46.9','51.0','15.7','29.8','2.3','3.9','282.0','0.0','0.0',...,'92.0','27.0','29.947','29.751','18.4','26.5','79.1','2022-07-28','01','0.18599999999999994'
freq,2,17,99,18,715,85,60,236,549,117,...,196,176,14,16,268,285,84,13,369,19

In [8]:
df.head()

,date,temperature,average_humidity_(%,average_dewpoint_(°f,average_barometer_(in,average_windspeed_(mph,average_gustspeed_(mph,average_direction_(°deg,rainfall_for_month_(in,rainfall_for_year_(in,...,maximum_humidity_(%,minimum_humidity_(%,maximum_pressure,minimum_pressure,maximum_windspeed_(mph,maximum_gust_speed_(mph,maximum_heat_index_(°f,date1,month,diff_pressure
0,2022-01-01,37.8,'35.0','12.7','29.7','26.4','36.8','274.0','0.0','0.0',...,'4.0','27.0','29.762','29.596','41.4','59.0','40.0','2022-01-01','01','0.16600000000000037'
1,2022-01-02','43.2','32.0','14.7','29.5','12.8','18.0','240.0','0.0','0.0',...,'4.0','16.0','29.669','29.268','35.7','51.0','52.0','2022-01-02','01','0.4009999999999998'
2,2022-01-03','25.7','60.0','12.7','29.7','8.3','12.2','290.0','0.0','0.0',...,'8.0','35.0','30.232','29.26','25.3','38.0','41.0','2022-01-03','01','0.9719999999999978'
3,2022-01-04','9.3','67.0','0.1','30.4','2.9','4.5','47.0','0.0','0.0',...,'7.0','35.0','30.566','30.227','12.7','20.0','32.0','2022-01-04','01','0.33899999999999864'
4,2022-01-05','23.5','30.0','-5.3','29.9','16.7','23.1','265.0','0.0','0.0',...,'5.0','13.0','30.233','29.568','38.0','53.0','32.0','2022-01-05','01','0.6649999999999991'

In [9]:
df.drop(columns=['date1'],axis=1,inplace=True)

In [10]:
df.head()

,date,temperature,average_humidity_(%,average_dewpoint_(°f,average_barometer_(in,average_windspeed_(mph,average_gustspeed_(mph,average_direction_(°deg,rainfall_for_month_(in,rainfall_for_year_(in,...,minimum_temperature_(°f,maximum_humidity_(%,minimum_humidity_(%,maximum_pressure,minimum_pressure,maximum_windspeed_(mph,maximum_gust_speed_(mph,maximum_heat_index_(°f,month,diff_pressure
0,2022-01-01,37.8,'35.0','12.7','29.7','26.4','36.8','274.0','0.0','0.0',...,'34.0','4.0','27.0','29.762','29.596','41.4','59.0','40.0','01','0.16600000000000037'
1,2022-01-02','43.2','32.0','14.7','29.5','12.8','18.0','240.0','0.0','0.0',...,'37.0','4.0','16.0','29.669','29.268','35.7','51.0','52.0','01','0.4009999999999998'
2,2022-01-03','25.7','60.0','12.7','29.7','8.3','12.2','290.0','0.0','0.0',...,'6.0','8.0','35.0','30.232','29.26','25.3','38.0','41.0','01','0.9719999999999978'
3,2022-01-04','9.3','67.0','0.1','30.4','2.9','4.5','47.0','0.0','0.0',...,'-0.0','7.0','35.0','30.566','30.227','12.7','20.0','32.0','01','0.33899999999999864'
4,2022-01-05','23.5','30.0','-5.3','29.9','16.7','23.1','265.0','0.0','0.0',...,'15.0','5.0','13.0','30.233','29.568','38.0','53.0','32.0','01','0.6649999999999991'

In [11]:
df=df.applymap(lambda x:x.replace("'",'')if isinstance(x, str) else x)

C:\Users\DELL\AppData\Local\Temp\ipykernel_5636\1464963266.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df=df.applymap(lambda x:x.replace("'",'')if isinstance(x, str) else x)

In [12]:
df.head()

,date,temperature,average_humidity_(%,average_dewpoint_(°f,average_barometer_(in,average_windspeed_(mph,average_gustspeed_(mph,average_direction_(°deg,rainfall_for_month_(in,rainfall_for_year_(in,...,minimum_temperature_(°f,maximum_humidity_(%,minimum_humidity_(%,maximum_pressure,minimum_pressure,maximum_windspeed_(mph,maximum_gust_speed_(mph,maximum_heat_index_(°f,month,diff_pressure
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,34.0,4.0,27.0,29.762,29.596,41.4,59.0,40.0,01,0.16600000000000037
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,37.0,4.0,16.0,29.669,29.268,35.7,51.0,52.0,01,0.4009999999999998
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,6.0,8.0,35.0,30.232,29.26,25.3,38.0,41.0,01,0.9719999999999978
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,-0.0,7.0,35.0,30.566,30.227,12.7,20.0,32.0,01,0.33899999999999864
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,15.0,5.0,13.0,30.233,29.568,38.0,53.0,32.0,01,0.6649999999999991

In [13]:
df.drop_duplicates(inplace=True)
df.shape

(3902, 22)

In [14]:
invalid_dates = df[pd.to_datetime(df['date'], errors='coerce').notna()]
print(invalid_dates)

            date temperature average_humidity_(% average_dewpoint_(°f  \
0     2022-01-01        37.8                35.0                 12.7
1     2022-01-02        43.2                32.0                 14.7
2     2022-01-03        25.7                60.0                 12.7
3     2022-01-04         9.3                67.0                  0.1
4     2022-01-05        23.5                30.0                 -5.3
...          ...         ...                 ...                  ...
3897  2033-07-24        64.1                62.0                 49.8
3898  2033-07-25        62.8                60.0                 48.1
3899  2033-07-26        60.6                68.0                 48.9
3900  2033-07-27        61.7                64.0                 47.4
3901  2033-07-28        60.5                61.0                 45.3

     average_barometer_(in average_windspeed_(mph average_gustspeed_(mph  \
0                     29.7                   26.4                   36.8
1                     29.5                   12.8                   18.0
2                     29.7                    8.3                   12.2
3                     30.4                    2.9                    4.5
4                     29.9                   16.7                   23.1
...                    ...                    ...                    ...
3897                  29.6                    3.6                    5.8
3898                  29.7                    2.5                    4.0
3899                  29.8                    1.7                    2.9
3900                  29.9                    2.2                    4.0
3901                  29.7                    4.0                    6.2

     average_direction_(°deg rainfall_for_month_(in rainfall_for_year_(in  \
0                      274.0                    0.0                   0.0
1                      240.0                    0.0                   0.0
2                      290.0                    0.0                   0.0
3                       47.0                    0.0                   0.0
4                      265.0                    0.0                   0.0
...                      ...                    ...                   ...
3897                   240.0                   0.24                  4.38
3898                   242.0                   0.33                  4.47
3899                   357.0                   0.33                  4.47
3900                    66.0                   0.33                  4.47
3901                   248.0                   0.35                  4.49

      ... minimum_temperature_(°f maximum_humidity_(% minimum_humidity_(%  \
0     ...                    34.0                 4.0                27.0
1     ...                    37.0                 4.0                16.0
2     ...                     6.0                 8.0                35.0
3     ...                    -0.0                 7.0                35.0
4     ...                    15.0                 5.0                13.0
...   ...                     ...                 ...                 ...
3897  ...                    55.3                86.0                35.0
3898  ...                    55.1                90.0                36.0
3899  ...                    50.5                90.0                40.0
3900  ...                    43.6                96.0                35.0
3901  ...                    46.0                94.0                35.0

     maximum_pressure minimum_pressure maximum_windspeed_(mph  \
0              29.762           29.596                   41.4
1              29.669           29.268                   35.7
2              30.232            29.26                   25.3
3              30.566           30.227                   12.7
4              30.233           29.568                   38.0
...               ...              ...                    ...
3897           29.686           29.577                   15.0
3898           29.781           29.645                    8.1
3899            29.93           29.745                   11.5
3900           29.941           29.781                   13.8
3901           29.792           29.675                   17.3

     maximum_gust_speed_(mph maximum_heat_index_(°f month  \
0                       59.0                   40.0    01
1                       51.0                   52.0    01
2                       38.0                   41.0    01
3                       20.0                   32.0    01
4                       53.0                   32.0    01
...                      ...                    ...   ...
3897                    25.3                   77.4    07
3898                    17.3                   77.5    07
3899                    15.0                   77.5    07
3900                    18.4                   78.2    07
3901                    26.5                   77.6    07

             diff_pressure
0      0.16600000000000037
1       0.4009999999999998
2       0.9719999999999978
3      0.33899999999999864
4       0.6649999999999991
...                    ...
3897   0.10899999999999821
3898   0.13599999999999923
3899   0.18499999999999872
3900   0.16000000000000014
3901  0.11700000000000088;

[3900 rows x 22 columns]

In [15]:
df['date'] = pd.to_datetime(df['date'], errors='coerce') 
df = df.dropna(subset=['date'])

In [16]:
df.shape

(3900, 22)

In [18]:
df.to_csv(r"C:\Users\DELL\Desktop\ml\cleaned.csv",index=False)
print("done")

done